.burger {
    width: 394px;
    border-bottom: 10px solid var(--main-orange, #FF8A00);
    background-color: #F2F0F1;
    display: none;
}

.burger-wrapper {
    padding: 53px 40px 23px 20px;
} 

.burger__item:not(:last-child) {
    border-bottom: 2px solid var(--main-orange, #FF8A00);
}

.burger__item {
    padding: 15px 0 15px 0;
}

.burger__link {
    font-family:"Helvetica Neue Cyr-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
}

.burger-menu {
    /* display: block; */
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 60;
    
}

/* состояния */
.burger__link:hover {
    text-decoration: underline;
}

.burger__link:active {
    text-decoration: none;
}

.burger__link {
    transition: all 0.200ms ease-in;
} 