@font-face {
	font-family: "Helvetica Neue Cyr-Light";
	src: local("Helvetica Neue Cyr"), local("Helvetica Neue Cyr-Light"), url("../font/HelveticaNeueCyr-Light.woff2") format("woff2"),
	url("../font/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: "Helvetica Neue Cyr-Light", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #282626;
    background-color: #f2f0f1;
}

img {
    max-width: 100%;
    height: auto;
}


button {
    padding: 0;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}




