@font-face {
	font-family: "Comfortaa";
	src: local("Comfortaa"), local("Comfortaa-Regular"), url("../font/Comfortaa-Regular.woff2") format("woff2"),
	url("../font/Comfortaa-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue Cyr-Light";
	src: local("Helvetica Neue Cyr"), local("Helvetica Neue Cyr-Light"), url("../font/HelveticaNeueCyr-Light.woff2") format("woff2"),
	url("../font/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

.section-size {
    padding: 100px 0;
}

/* .container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 130px;
} */

.heading__title {
    font-family: Comfortaa;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 33px;
    color: #282626;
}

.heading__element {
    font-family:'Helvetica Neue Cyr-light';
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    width: 447px;
}