@font-face {
	font-family: "Comfortaa";
	src: local("Comfortaa"), local("Comfortaa-Regular"), url("../font/Comfortaa-Regular.woff2") format("woff2"),
	url("../font/Comfortaa-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue Cyr-Medium";
	src: local("Helvetica Neue Cyr"), local("Helvetica Neue Cyr-Medium"), url("../font/HelveticaNeueCyr-Medium.woff2") format("woff2"),
	url("../font/HelveticaNeueCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue Cyr-Roman";
	src: local("Helvetica Neue Cyr"), local("Helvetica Neue Cyr-Roman"), url("../font/HelveticaNeueCyr-Roman.woff2") format("woff2"),
	url("../font/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue Cyr-Light";
	src: local("Helvetica Neue Cyr"), local("Helvetica Neue Cyr-Light"), url("../font/HelveticaNeueCyr-Light.woff2") format("woff2"),
	url("../font/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

.section-size {
    padding: 100px 0;
    /* padding-bottom: 100px; */
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 130px;
}

.help__title {
    font-family: "Comfortaa";
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #ff8a00;
    text-align: center;
    margin-bottom: 135px;
}

.help__list {
    counter-reset: section; 
    font-family: Comfortaa;
    font-size: 50px;
    line-height: 50px; 
    font-weight: 400;
    color: #ff8a00;
    list-style: none;
}

.help__item {
    font-family: 'Helvetica Neue Cyr';
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: #282626;
}

.help__item:not(:last-child) {
    margin-bottom: 130px;
}   

.help__item::before {
    counter-increment: section;            
    content: counter(section);
    /* position: absolute; */
    /* left: 80px; */
    position: relative;
    top: 46px;
    left: -50px;
    font-family: Comfortaa;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #ff8a00;
    /* position: relative; */
    /* left: -50px;
    top: 50px; */
    /*предыдущий вариант через релатив, но оставался отступ сверху и чтобы его не было прописываем position: absolute */
    /*так как отступ слева 130px а по макету от Финансово до цифры стоит где то 50px , то установил 80px слева итого минус 50*/
}

.help__subtitle-finance {
    font-family: "Helvetica Neue Cyr-Roman";
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 36px;
}

.help__subtitle-volunteer {
    font-family: "Helvetica Neue Cyr-Roman";
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 80px;
}

.help__subtitle-opekun {
    font-family: "Helvetica Neue Cyr-Roman";
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.help__element {
    font-family:'Helvetica Neue Cyr-light';
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.help__element_finance {
    width: 379px;
}

.help__element_volunteer {
    width: 570px;
}

.help__element_opekun {
    width: 466px;
}

.help__element_text_weight {
    font-family: "Helvetica Neue Cyr-Medium";
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
