.sara {
    padding: 15px 0 45px;
}

.container {
    position: relative;
}

.container-sara {
    background: #FFFFFF;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 580px;
}

.sara__title {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 530px;
    z-index: 10;
}

.sara__title-orange {
    color: var(--main-orange, #FF8A00);
}

.wrp {
    display: flex;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    gap: 81px;
    margin-bottom: 25px;
    align-self: flex-end;
}

.wrapper-dog::after {
    content:"";
    background-image: url('../img/sara-dog.png');
    width: 580px;
    height: 580px;
    position: absolute;
    top: 0;
    right: 230px;
}

.wrapper-name-animals {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    padding-top: 100px;
    z-index: 10;
}

.sara__block-btn {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.sara__element {
    font-family:  "Helvetica Neue Cyr-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
}

.sara__btn {
    font-family: "Helvetica Neue Cyr-Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-orange, #FF8A00);
    text-transform: uppercase;
    width: 180px;
    height: 155px;
    z-index: 9;
}

.sara__button {
    padding-top: 111px;
    background-image: url('../img/lapa.png');
    background-repeat: no-repeat;
    background-position: top 0 right 35px;
    border: transparent;
    align-items: center;
    background-color: transparent;
}

.btn-animals {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Helvetica Neue Cyr-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    width: 180px;
    border:transparent;
    background-color: transparent;
}

.sara__item:not(:last-child) {
    margin-bottom: 30px;
}

/* состояния */

.btn-animals {
    transition: border 0.200s ease-in, color 0.200s ease-in;

}

.btn-animals:hover {
    border: 1px solid var(--main-orange, #FF8A00);
}

.btn-animals:active {
    border: 1px solid var(--main-orange, #FF8A00);
    color: var(--main-orange, #FF8A00);
}

/* кнопка лапа */
.sara__block-btn {
    transition: all 0.200s ease-in, color 0.200s ease-in;
}

.sara__block-btn:hover {
    filter: opacity(0.9);
}

.sara__block-btn:active {
    filter: opacity(0.8);
}